* {  /* Removed patterns in page */ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style in every header */
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

/* Style in first div, with name container */
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

/* Style in header and my logo */
.logo {
    display: flex;
    align-items: center;
}

/* Style in UL and LI in my NAV tag */
.nav ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}