* {  /* Removed patterns in page */ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style in every header */
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

/* Style in first div, with name container */
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

/* Style in header and my logo */
.logo {
    display: flex;
    align-items: center;
}

/* Center menu */
.menu {
    display: flex;
    align-items: center;
}

/* Style in UL and LI in my NAV tag */
nav ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Added flex in menu */
nav ul {
    display: flex;
}

/* Style in link menu */
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

/* When move coursor in active LI */
nav .active a:hover,
nav a:hover {
    background-color: #39aae1;
}