* {  /* Removed patterns in page */ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Style in every header */
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

/* Style in first div, with name container */
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

/* Style in header and my logo */
.logo {
    display: flex;
    align-items: center;
}

/* Center menu */
.menu {
    display: flex;
    align-items: center;
}

/* Style in UL and LI in my NAV tag */
nav ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Added flex in menu */
nav ul {
    display: flex;
}

/* Style in link menu */
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

/* When move coursor in active LI */
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

/* Style in main banner */
#banner {
    display: flex;
    justify-content: center;
    background-image:url('../images/__MACOSX/img1.jpg');  /* Caminho simplificado */
    height: 670px;
    background-position: center;
    background-size: cover;
}

/* Direcion in tag column */
.column {
    flex-direction: column;
}

/* Position in banner */
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styles in titles */
.banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0 #555555;
    max-width: 300px;
}

.banner_headline h2 {
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

/* Positions in banners */
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #ffffff;
}

/* Color in background space in banners */
.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner-title {
    font-size: 21px;
    margin: 15px;
}

.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px
}

/* Styles in link in my banner options */
.banner_options a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
}

/* Styles in banners options */
.banner-text-main {
    margin: 15px;
    display: flex;
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid rgb(105, 128, 177);
    gap: 100px;
}

.banner-text-main-2 {
    margin: 15px;
    display: flex;
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid rgb(105, 128, 177);
    gap: 145px;
}

.banner-text-main-3 {
    margin: 15px;
    display: flex;
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid rgb(105, 128, 177);
 
    gap: 155px;
}

/* Style in section geral */
#geral {
    display: flex;
    justify-content: center;
}

/* Define division in space in this part page */
#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

/* Style in title (DEPARTMENTS) */
.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Style in text on title */
.widget-title-text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

/* Style in bar below title text */
.widget-title-bar {
    background-color: #39aae1;
    width: 50px;
    height: 2px;
    margin-top: 10px;
}

/* Include positions in body widget */
.widegt-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 150px;
    height: 158px;
    margin: 5px;
    background-color: #39aee1;
    margin-bottom: 15px;
    display: inline-block;
}

/* Style in paragraph lorem */
.widget-body-appointment p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

/* Styles in divs about contacts */
.phone,
.email,
.contact {
    border-bottom: 1px solid #a7acb8;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #646464;
    font-size: 14px;
}

/* Remove line below A */
.media-icons a{
    text-decoration: none;
}

/* Style in B */
.media-icons b {
    color: #3a3939;
}

/* Style for margin in Icon I */
.media-icons i {
    margin-right: 10px;
}

.phone:hover,
.email:hover,
.contact:hover {
    color: #2b4c99;
} 

/* Flex in news */
.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

/* Remove line below notice */
article a {
    text-decoration: none;
}

/* Style in position data */
article .news-data {
    display: flex;
}

/* Style in DATA about article */
article .news-posted-at {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

/* Style in second text in next to right data */
article .news-comments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-left: 2px;
}

/* Space about image and title news */
article .news-thumbnail {
    margin-top: 30px;
}

/* Definied size in image */
article .news-thumbnail img {
    width: 100%;
    height: auto;
}

/* Styles in news title */
article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

/* Style in text news */
article .news-resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

/* Style in background footer */
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer-menu {
    display: flex;
}

.fm-1, .fm-2, .fm-3 {
    flex: 1;
    color: #ffffff;
}

/* Colors in background areas */
.fm-1 {
    background-color: #39aae1;
}

.fm-2 {
    background-color: #0079c7;
}

.fm-3 {
    background-color: #2b4c99;
}

.footer-menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}

.footer-area {
    display: flex;
    color: #ffffff;
}

.footer-areaitem {
    flex: 1;
    color: #ffffff;
}

/* Direction in divs footer */
.flexColumn {
    flex-direction: column;
}

/* Color in text footer area widget */
footer .widget-title-text {
    color: #ffffff;
}

/* Style in part about copy */
.footer-copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.footer-copy a {
    text-decoration: none;
}

.footer-copy a:hover {
    color: #39aee1;
}

.fm-1 .firstText {
    font-size: 22px;
}

.fm-1 .secondText {
    font-size: 12px; /* ou qualquer outro valor que você deseje */
    margin-top: 10px;
}

.fm-1 .secondText i {
    font-size: 12px;
    margin-left: 10px;
}


.fm-2 .firstText {
    font-size: 22px;
}

.fm-2 .secondText {
    font-size: 12px; /* ou qualquer outro valor que você deseje */
    margin-top: 10px;
}

/* Style in arrow */
.fm-2 .secondText i {
    font-size: 12px;
    margin-left: 10px;
}

.fm-3 .firstText {
    font-size: 22px;
}

.fm-3 .secondText {
    font-size: 12px; /* ou qualquer outro valor que você deseje */
    margin-top: 10px;
}

/* Style in arrow */
.fm-3 .secondText i {
    font-size: 12px;
    margin-left: 10px;
}

/* Style in first div about address */
.textTop {
    font-size: 13px;
    color: #5c5c5c;
    margin-bottom: 25px;
}

.addreesClinic {
    font-size: 14px;
    color: #5c5c5c;
}

.Contacts {
    font-size: 14px;
    color: #5c5c5c;
    margin-left: 25px;
}

.Medicenter-Texts {
    display: flex;
    flex: 1;
}

.Contacts a {
    color: #c4c3c3;
    text-decoration: none;
}

.Contacts a:hover {
    color: #39aee1;
}

.links {
    font-size: 20px;
    margin-top: 10px;
    bottom: 40px;
    right: 90;
    position: fixed;
}

.links i:hover {
    color: #39aee1; 
}

.iconArrow {
    margin-left: 10px;
    display: flex;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 25px;
}

.yearsText {
    font-size: 12px;
    color: #39aae1;
    padding-top: 10px; /* substituído margin-top por padding-top */
    display: block;
}

.iconArrow i {
    margin-right: 12px;
    font-size: 10px;
    align-items: center;
}
.iconArrow {
    display: flex;
    align-items: center;
}
  
.textInLatest {
    margin-bottom: 5px; /* ajuste o valor para aproximar o texto "8 years ago" */
}

.textInLatest2 {
    color: #727272;
}